a.button{
    color: #11c0b4;
    border: 1px solid #11c0b4;
}
.shop-cart-body .shop-cart4 .sub-cart .coupon-code button:hover {
    border: 1px solid #11c0b4;
    color: #11c0b4;
}
.bookbtn {
    border:1px solid  #11c0b4;
}
.has-discount .price {
     color: #11c0b4;
}
.shop-checkout-body .entry-content-wrapper .woocommerce-info a {
    color: #11c0b4;
}
.shop-checkout-body .entry-content-wrapper .woocommerce-info i {
    color: #11c0b4;
}
.shop-checkout-body .entry-content-wrapper .woocommerce-info {
    border-top: 2px solid #11c0b4;
}
.login-form input[type='submit'] {
    background-color: #11c0b4;
    border: 1px solid #11c0b4;
}
.testimonials-slider .testimonial-author .job {
    color:#11c0b4;
}
.contact_us .news_letter>input {
     background: #11c0b4;
}  
.mixitup-gallery .filters li.active, .mixitup-gallery .filters li:hover {
    background-color:  #11c0b4;
    border-color:  #11c0b4;
}  
.contact_us {
    background-color: #11c0b4;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a>img {
    color: #11c0b4;
}
.shop-cart-body .shop-cart4 .shipping button:hover {
    border: 1px solid #11c0b4;
    color: #11c0b4;
}
a.btn:hover {
    background-color: #11c0b4;
}
.about-feature i {
    color: #11c0b4;
}
a.button:hover, .shop-cart-body .shop-cart4 .upload-cart, .shop-cart-body .shop-cart4 .shipping button , .shop-cart-body .shop-cart4 .cart-totals button, .shop-checkout-body #payment .place-order input{
    background: #11c0b4;
    border: 1px solid #11c0b4;
}
.product_list_widget .product-title{
    color: #11c0b4;
}
li.product a, .section-onsale-product .onsale-product a, .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content a, .products-carousel .owl-item .product a {
    color: #11c0b4;
}
.owl-carousel .owl-nav button.owl-prev {  
    border: 1px solid #11c0b4;
    color: #11c0b4;
}
.owl-carousel .owl-nav button.owl-next {  
    border: 1px solid #11c0b4;
    color: #11c0b4;
}
.owl-carousel .owl-dot.active{
    background-color: #11c0b4;
}
.products-carousel .owl-item .product a {
    color: #11c0b4;
}
.style_btn span.left_ico{
    background: #0a756e;
}
.products-carousel-tabs .nav-link.active{
    color: #11c0b4;
} 
.tp-caption a.index3-btn {
    background: #11c0b4;
    border: 1px solid #11c0b4;
}  
.tp-caption a.index3-btn:hover {
    color: #11c0b4;
}  
.product_list_widget a{
    color: #11c0b4;
}
.contact-form input[type='submit']:hover{
    background-color: #fff;
    color: #11c0b4;
}


.tab-search-default .tab-btn-wrapper .tab-btn:focus {
    background-color: #11c0b4;
}


.cat_cars .list-group-item:hover .badge{
    color: #11c0b4;
}


.owl-carousel .owl-controls .owl-page.active span {
    background: #11c0b4;
}
.book-sec .book_btn span{
    background-color: #11c0b4;
    color: #fff;
    transition: .5s;
    padding: 10px 15px;
    border:1px solid #11c0b4;
}
.book-sec .book_btn span:hover a{
    color: #11c0b4;
}
.selector span.custom-select:before{
    background: #11c0b4;
}
.blog-section .site-page-breadcrumb span{
    color: #11c0b4;
}
.inline ul li.active ins{
    color: #11c0b4;
}
.default-bg{
    background: #11c0b4;
}
.inline ul li:hover ins{
    color: #11c0b4;
}
.Default-clr{
    color: #11c0b4;
}
.Default-clr-hvr:hover{
    color: #11c0b4;
}

.title-separator-outer {
    color: #11c0b4;
}

.rbutton {
    background: #11c0b4 none repeat scroll 0 0;
}
.transparent{
    border:1px solid #11c0b4;
    color: #11c0b4;    
    background: transparent;
}
.bg-primary, button, input[type="button"].button , .activity-tabs .nav-tabs>li>a , .coming-soon-section, .error-page::before, .myaccount .nav-item, .shop-cart-body .shop-cart4 .sub-cart .coupon-code button, .circlewrap span, .header2-btns a.button{
        background-color: #11c0b4;
}
a.read-more {
    
    border: 1px solid #11c0b4;
   
    background: #11c0b4;
}
.header-text2 .go span{
    background-color: rgba(17, 192, 180, 0.51);
    padding: 25px 10px;
    border:2px solid #11c0b4 ;
}
.scrollup {
    
    background: #11c0b4;
}
.review-rating label .fa{
    color: #11c0b4;
   
}
.spinner i  , .five-stars-container .five-stars:before, .five-stars-container.editable-rating .ui-slider-range:before, .coming-soon-section .wrapper .social li a , .profile-details .content-profile .info p.title, .wish-list .wish-listitem h3, .booking-details .booking-detail h3, .booking-details .booking-detail .detail-info p, .cars-title, .mainmenu .navbar-nav li .dropdown-menu a:hover ,.mainmenu .navbar-nav li.active .dropdown-menu a, .shop-cart-body .shop-cart4 tr td .del a, .shop-checkout-body .checkout-order-left .order-total, .shop-checkout-body #payment ul li a, .shop-checkout-body .checkout-billing-left p .required,  .product-thumb .caption .inner i, .product-thumb .caption .inner span.fa-map-marker, .gallery-items-5-2 .product-thumb .caption button:hover, .product-thumb:hover .caption button  {
    color: #11c0b4;
    
}
.header-text h1 span {
    color: #11c0b4;
}
.header-search-form-area input[type="submit"] {
    background: #11c0b4;
   
}
.mainmenu .navbar-nav li.active a{
    
    color: #11c0b4;
    
}
.mainmenu .navbar-nav li a:hover {
   
    color: #11c0b4;
   
}
.menu-bg .mainmenu .navbar-nav li a:hover {
    color: #11c0b4;
}

.header-text a {
    
    border: 1px solid #11c0b4;
    
    background: #11c0b4;
}
.header_top .pull-right a:hover {
    color: #11c0b4;
}
input[type="submit"].button{
    
    border: 1px solid #11c0b4;
  
    background: #11c0b4;
    
}

input[type="submit"].button:hover {
    
    border: 1px solid #11c0b4;
    
}
.single-place h4 {
   
    color: #11c0b4;
}
.owl-theme .owl-controls .owl-buttons div {
  
    color: #11c0b4;
    
    border: #11c0b4 2px solid;
 }   
.aboutfeature li i{
    color: #11c0b4;
}
.single-service:hover .service-icon i{
    color: #11c0b4; 
}
.video-area-text i {
   
    color: #11c0b4;
   
}
.call-to-area-text a {
   
    border: 1px solid #11c0b4;
   
    background: #11c0b4;
   
}

.call-to-area-text a:hover {
    color: #11c0b4;
    
}
.overlay-offer .button {
    background: #11c0b4 none repeat scroll 0 0;
  
   
   
}
.field-icon [class*="fa-"], .field-icon i {
   
    color: #11c0b4;
}
.hotel-menu button.active,
.hotel-menu button:hover {
    
    color: #11c0b4
}
.flight-details .flight-title{
   
    color: #11c0b4;
}

.flight-details .flight-offer span , .flight-details .fair span{
    color:  #11c0b4;
}
.tour-cost{
   
    color: #11c0b4;
   
}
.cruise-review .checked{
    color: #11c0b4;
}
input[type='range']::-webkit-slider-thumb:hover {
  
  border: 1px solid #11c0b4;
  background: #11c0b4;
 
}
.sidebar-category a:hover {
    color: #11c0b4;
}
.widget-tags li a:hover{
   
    background:#11c0b4;
  
}
.pagination li a:hover{
    background: #11c0b4;
    color: #fff;
}
.review-details .client-id{
   
    color: #11c0b4;
}
.blog-heading{
    
    color: #11c0b4;
   
  }
  .post-meta span i{
    
    color: #11c0b4;
  }
  .author-social li a{
    border: 1px solid #11c0b4;
    color: #11c0b4;
  
}
.author-social li a:hover{
    border: 1px solid #11c0b4;
    background: #11c0b4;
}
.commentreply{
   
    background-color:#11c0b4;
  
}
.comment-date{
    color: #11c0b4;
   
}
.offer-listtitle{
  
    color: #11c0b4;
}
.offer-list li span{
    color: #11c0b4;
}
.content-left{
    
    color: #11c0b4;
    
}
.content-right{
   
    color: #11c0b4;
   
}
.form-control:focus {
    border-color: #11c0b4;
  
}

.contact-form input[type='submit'] {
   
    border: 1px solid #11c0b4;
    background-color: #11c0b4;
    
}

.contact-form input[type='submit']:hover {
    
    border: 1px solid #11c0b4;
   
}
.footer-bottom {
    background: #11c0b4;
   
}
footer .widget ul i{
    
    color: #11c0b4;
    
}
.formnewsletter button {
    background: #11c0b4 none repeat scroll 0 0;
   
}
.lineStart>.col-lg-6:first-of-type:after, .lineStart>.col-md-6:first-of-type:after, .lineStart>.col-sm-6:first-of-type:after, .lineContinue>.col-lg-6:first-of-type:after, .lineContinue>.col-md-6:first-of-type:after, .lineContinue>.col-sm-6:first-of-type:after, .lineEnd>.col-lg-6:first-of-type:after, .lineEnd>.col-md-6:first-of-type:after, .lineEnd>.col-sm-6:first-of-type:after{
    background: #11c0b4;
}
.color-box{
    background: #11c0b4;
    } 
 .gallery-menu button.active, .gallery-menu button:hover {
    background-color: transparent;
    color: #11c0b4;
}
.tour2-cost {
    color: #11c0b4;
}
header .button-login .btn-default{
    background:#11c0b4;
}
header .button-login .btn-default:active:hover{
    color: #fff;
    background:#11c0b4;
}


#menu .navbar-nav > .active > a, #menu .navbar-nav > .active > a:hover, #menu .navbar-nav > .active > a:focus, #menu1 .navbar-nav > .active > a, #menu1 .navbar-nav > .active > a:hover, #menu .navbar-nav > .active > a:focus {
    color: #11c0b4;
    background-color: #11c0b4;
}
#menu .dropdown-menu li a:hover, #menu1 .dropdown-menu li a:hover{
    color:#11c0b4;
    
}
.slide-detail form .calender i, .slide-detail form .btn i{
    background:#11c0b4;
    
}

.slide-detail form .btn-primary{
    background:#11c0b4;
  
}
.places p:after {
    border-top: 5px solid #11c0b4;
    
}
.places .nav-tabs > li > a:hover:after, .places .nav-tabs > li.active > a:after{
    border-bottom: 8px solid #11c0b4;
  
}
.places .nav-tabs > li > a:hover:before, .places .nav-tabs > li.active > a:before{
    border-bottom: 10px solid #11c0b4;
   
}
.news .product-thumb .image .matter button {
    background:#11c0b4;
   
}
.subscribe .btn-default{
    background:#11c0b4;
   
}
.gallery-items-5-2 .product-thumb .caption button:hover{
    color:#11c0b4;
}
.tab-search-default .active .tab-btn {
    background: #11c0b4;
    color: #fff;
}
.find-widget .text-box-wrapper .tb-icon{
    color: #11c0b4;
}
.btn-slide {
    border: 1px solid #11c0b4;
    background-color: #11c0b4;
}
.formnewsletter2 button {
    background: #11c0b4 none repeat scroll 0 0;
    }
.feature-block .feature i {
    color: #11c0b4;
}
.ad .ad-action > a {
    color: #11c0b4;
}
li.product .price ins, .section-onsale-product .onsale-product .price ins, .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content .price ins, .products-carousel .owl-item .product .price ins {
    color: #11c0b4;
}
.star-rating span:before {
    color: #11c0b4;
}
.message-box {
    background: #11c0b4;
    padding: 15px;
}
.site-footer .widget .contactinfo span.fa {
    color: #11c0b4;
}
.site-footer .widget .address span.fa {
    color: #11c0b4;
}
.site-footer .widget .timing span.fa {
    color: #11c0b4;
}
.social-h3 li a:hover{
    color: #11c0b4;
}
.site-footer .widget .social-links li a:hover i{
    color: #11c0b4;
}
